<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <th:block th:replace="fragments/head.html"/>
</head>
<body id="wrapper" class="bg-body container-fluid no-overflow">
<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<div class="row">
    <div th:replace="~{fragments/sidebar.html :: categoryList}"></div>

    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-body-secondary">
        <h1 th:text="*{cart.getItems().size()}"></h1>

        <p class="h2 text-muted">Here are our products</p>

        <div class="d-flex flex-wrap m-3">
            <div th:each="a : ${articles}" class="w-25 m-2 p-2 border-black product" style="max-width: 15%;">
                <div th:replace="~{fragments/item.html :: item (article = *{a})}"></div>
            </div>
        </div>
    </div>

</div>

<script>
    function setContent(html) {
        $("#loading").hide();
        $("#content").show().html(html);
    }

    function fetchContent(view) {
        $("#loading").show();
        $("#content").hide();
        window.history.replaceState(null, '', "/admin/" + view);

        // for demonstration purposes we'll add a delay
        setTimeout(function () {
            fetch("/admin/fragment/" + view).then(function (response) {
                return response.text()
            }).then(function (html) {
                setContent(html);
            }).catch(function (err) {
                console.log(err)
            });
        }, 250);
    }

    function openModal(modalName) {
        $(modalName).modal('show');
    }

    function closeModal(modalName) {
        $(modalName).modal('hide');
    }

    $(document).ready(function () {
        fetchContent("[[${view}]]");

        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader("[[${_csrf.headerName}]]", "[[${_csrf.token}]]");
        });
    });
</script>
</body>
</html>