<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <th:block th:replace="~{fragments/head.html}"/>
</head>
<body id="wrapper" class="bg-body container-fluid no-overflow">
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>

    <div class="row">
        <div th:replace="~{fragments/sidebar.html :: categoryList}"></div>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-body-secondary">
            <p class="h2 text-muted">Here are our products</p>

            <div class="d-flex flex-wrap m-3" id="items-container">
                <div th:replace="~{fragments/item.html :: items (articles = ${articles})}"></div>
            </div>
        </div>

    </div>

<script>
    onOpenCategory = function (id) {
        $.ajax({
            type: "GET",
            url: "/article/fragment/articles/" + id,
            processData: false,
            contentType: false,
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: function (data, textStatus, jqXHR) {
                $("#items-container").html(data);
                console.log(data);
            },
            error: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });
    }

    $(document).ready(function () {
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader("[[${_csrf.headerName}]]", "[[${_csrf.token}]]");
        });
    });
</script>
</body>
</html>